PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=1234
DB_NAME=nframa
DB_SSL=false

JWT_ACCESS_SECRET=changeme
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN_DAYS=30

ARKESEL_API_KEY=
ARKESEL_SENDER_ID=Nframa

RESEND_API_KEY=
RESEND_FROM_EMAIL=Nframa <onboarding@resend.dev>

BOOTSTRAP_ADMIN_EMAIL=admin@nframa.com
